@page
@model BookListApp.Pages.BookList.IndexJSModel
@{
}

<div class="col-12" style="text-align:center">
    <br />
    <span class="h3 text-info">Created with JavaScript</span>
    <br /><br />
</div>
<div class="col-12 border p-3">
    <table id="DT_load" class="table table table-striped table bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/bookList.js"></script>
}